{% extends "base.html" %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body %}

<!-- jumbotron and nav -->
<section class="colorful jumbotron mb-0" role="banner">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark" role="navigation">
        <div class="navbar-brand">
            <a href="/hotel">Hotel Paradise
                <em>.</em>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
    </nav>

    <div class="container hotels-container">

        <div class="row mt-2 justify-content-between">
            <div class="col-md-8 text-white align-self-center mb-2 p-4">
                <h1>HOTEL Paradise</h1>
                <span class=""> "Discover serenity and luxury at Hotel Paradise. Indulge in a blissful escape with our exquisite accommodations, breathtaking views, and impeccable service. Your perfect getaway awaits at Hotel Paradise."
                </span>
            </div>
        </div>
    </div>

</section>

<section class="search-container mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row my-3">
                
                    
                </div>
                <div class="row mt-2 justify-content-between">
                    <div class="filter-card">
                        <h5>Filter</h5>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="mintopay">Check in</label>
                                    <p>
                                        <input type="date" name="checkin" id="checkin" class="form-control">
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <label for="maxtopay">Check out</label>
                                    <p>
                                        <input type="date" name="checkout" id="checkout" class="form-control">
                                    </p>
                                </div>
                            </div>
                           
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="Limit">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>




            <div class="col-lg-9 px-4">
                <form>
                <div class="row mt-3">

                    <div class="col-md-4">
                        <div class="form-inline">
                            <label class="m-4" for="exampleFormControlSelect1">Search</label>
                            <input class="form-control" placeholder="{% if not search %}Search{% else %}{{ search }}{% endif %}" name="search">
                        </div>
                    </div>
                    


                    <div class="col-md-6">
                        <div class="form-inline">
                            <label class="m-4" for="exampleFormControlSelect1">Sort by</label>
                            <select class="form-control" name="sort" id="exampleFormControlSelect1">
                                <option value="">Recommended</option>

                                <option {% if sort == 'ASC' %} selected {%endif %} value="ASC">ASC</option>
                                <option {% if sort == 'DSC' %} selected {%endif %} value="DSC">DSC</option>
                               
                        
                            </select>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <div class="form-inline">
                            <label class="m-4" for="exampleFormControlSelect1">Amenities</label>
                            <select class="form-control" name="amenities" id="amenitiesSelect" multiple>

                                {% for amenities_obj in amenities_objs %}
                                <option  {% if amenities_obj.amenity_name in amenities %} selected {% endif %} 

                                value="{{amenities_obj.amenity_name}}">{{amenities_obj.amenity_name}}</option>
                                  {% endfor %}
                                  
                            </select>
                            <button type="submit" class="btn btn-success my-2">Find</button>
                        </div>
                    </div>
                </div>
                </div>

              
            </form>
                
                <!-- hotel coding -->
                {% for hotel_obj in hotel_objs %}

                <div class="row search-card-result">
                    <div class="col-md-3">

                        {% for image in hotel_obj.images.all %}
                        <img class="img-fluid" src="/media/{{image.hotel_images}}" alt="Card image cap">

                    </div>
                    {% endfor %}

                    
                    <div class="col-md-5">
                        <h5>{{ hotel_obj.hotel_name }}</h5>
                        <p>{{ hotel_obj.description }}</p>
                        
                        <p>
                            {% for a in hotel_obj.amenity_name.all %}
                                <b>{{ a.amenity_name }}</b>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>


                    <div class="col-md-2 border-left text-center more-offers">   
                        <div class="text-success">

                            <p>booking.com.pk</p>
                            <h5>{{hotel_obj.hotel_price}} RS</h5>
                            <p>Hotel Rooms</p>
                            <h5>{{hotel_obj.room_count}}</h5>
                            <p>Hotel Location</p>   
                            <h5>{{ hotel_obj.city_name.city }}</h5>

                        </div>

                    

                        <a href="hotel_details/{{hotel_obj.uid}}" class="btn btn-success">View deal ></a>


                    </div>

                    {% endfor %}
                </div>
            
                
            {% include "pagination.html" %}
                

{% endblock %}